.container{
    max-width: 1600px;
}

header{
    background-color: #F3D7B7;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}

.header_navbar_img {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header_navbar_img h2 {
    color: rgba(85, 85, 85, 1);
}

.navbar_a{
    display: flex;
    gap: 40px;
}

.navbar_a a{
    text-decoration: none;
    font-family: 'Roboto';
font-weight: 700;
font-size: 12px;
line-height: 100%;
letter-spacing: 1px;
text-transform: uppercase;
color: rgba(51, 51, 51, 1);
cursor: pointer;
transition: color 0.3s;
}

.navbar_a a:hover {
    color: red;
}

.header_block{
    display: flex;
    gap: 30px;
    margin-top: 80px;
    justify-content: space-between;
}

.header_block_text{
    width: 464px;
    height: fit-content;
    margin-left: 50px;
}

.header_block_text h1{
    font-family: 'Roboto';
font-weight: 700;
font-size: 64px;
line-height: 100%;
letter-spacing: 0px;
color: rgba(0, 0, 0, 1);
}

.header_block_text p {
    font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0px;
color: rgba(0, 0, 0, 1);
}

.header_block_text button{
    width: 193px;
height: 51px;
border-radius: 100px;
background-color: rgba(10, 119, 95, 1);
border: none;
font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 100%;
letter-spacing: 1px;
text-align: center;
font-variant: small-caps;
color: rgba(255, 255, 255, 1);
text-align: center;
margin-top: 47px;
cursor: pointer;
transition: background-color 0.3s;
}

.header_block_text button:hover {
    background-color: rgba(10, 119, 95, 0.782);
}

.header_photo img{
    transform-style: preserve-3d;
    animation: coffee 4s infinite linear;
    position: relative;
    left: 150px;
    bottom: 60px;
    z-index: 1;
}

@keyframes coffee{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}

.header_photo2{
    position: relative;
    top: 50px;
}

main {
    margin-top: 88px;
}

main h1 {
    font-family: 'Roboto';
font-weight: 700;
font-size: 50px;
line-height: 100%;
letter-spacing: 0px;
text-align: center;
font-variant: small-caps;
color: rgba(0, 0, 0, 1);
}

.main_block_parent {
    display: flex;
    align-items: center;
justify-content: center;
}

.main_block_parent_text {
    display: block;
    width: 454px;
}

.main_block_parent_text h1 {
    text-align: start;
font-family: 'Roboto';
font-weight: 500;
font-size: 48px;
line-height: 100%;
letter-spacing: 0px;
font-variant: small-caps;
color: rgba(51, 51, 51, 1);
}

.main_block_parent_text p {
font-family: 'Roboto';
font-weight: 400;
font-size: 22px;
line-height: 34px;
letter-spacing: 0px;
color: rgba(51, 51, 51, 1);
}

.footer_navbar_img {
    gap: 30px;
    display: flex;
}

footer {
    background-color: rgba(243, 215, 183, 1);
    margin-top: 89px;
}

.footer_navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    height: 160px;
}



